<h1>Productos</h1>

<div id="productsContainer">
        {{#each products}}
        <div data-id={{this.id}}>
        <li>{{this.name}}</li>
        <li>{{this.stock}}</li>
        <li>{{this.description}}</li>
        </div>
        {{/each}}
</div>

<link rel="stylesheet" href="/css/styles.css">